html
{
    --brf-vfloat-invert: 0;
    --brf-vfloat-brightness: 1;
    --brf-vfloat-contrast: 1;
    --brf-vfloat-sepia: 0;
    --brf-vfloat-saturate: 1;
    --brf-vdeg-hue-rotate: 0deg;
}

video
{
    /* Video Brightness fix */
    filter: invert(var(--brf-vfloat-invert)) brightness(var(--brf-vfloat-brightness)) contrast(var(--brf-vfloat-contrast)) saturate(var(--brf-vfloat-saturate)) hue-rotate(var(--brf-vdeg-hue-rotate)) sepia(var(--brf-vfloat-sepia));
}